#cloud-config
chpasswd:
  expire: False

users:
  - name: {{ user }}
    lock_passwd: false
    plain_text_passwd: {{ pass }}

package_update: true
packages:
- lsblk
- util-linux
- e2fsprogs-extra
- sfdisk

write_files:
- path: /etc/resolv.conf
  permissions: '0644'
  owner: root:root
  content: |
    nameserver 8.8.8.8

mounts:
  - [ /dev/vdb1, /mnt, "ext4", "defaults,noatime", "0", "2" ]