variant: flatcar
version: 1.0.0
passwd:
  users:
    - name: {{ user }}
      password_hash: "{{ password_hash }}"
      ssh_authorized_keys:
{% for key in ssh_authorized_keys %}
        - "{{ key }}"
{% endfor %}
storage:
  files:
    - path: /etc/hostname
      contents:
        inline: |
          {{ name }}
    - path: /etc/systemd/network/static.network
      contents:
        inline: |
          [Match]
          Name=eth0

          [Network]
          Address={{ ip }}/24
          Gateway={{ gateway }}
{% for dns in dns_servers %}
          DNS={{ dns }}
{% endfor %}
  filesystems:
    - device: {{ data_disk_device }}
      format: ext4
      path: {{ data_disk_mount }}
      with_mount_unit: true
systemd:
  units:
    - name: docker.service
      enabled: true
    - name: portainer.service
      enabled: true
      contents: |
        [Unit]
        Description=Portainer
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker kill portainer
        ExecStartPre=-/usr/bin/docker rm portainer
        ExecStartPre=/usr/bin/docker pull portainer/portainer-ce:latest
        ExecStart =/usr/bin/docker run --name portainer -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce:latest
        ExecStop=/usr/bin/docker stop portainer

        [Install]
        WantedBy=multi-user.target
